@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.image {
    user-select: none;
    pointer-events: none;
}

.button {
    height: 50px;
    width: 150px;
    background-color: rgb(221, 178, 115);
    border: 5px ridge rgb(171, 59, 59);
    color: rgb(0, 0, 0);
    font-family: 'Merriweather';
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.button:active {
    cursor: pointer;
    opacity: 0.6;
}